.button {

    -fx-background-color: rgba(0, 96, 240, 0.85); /* Default color when not toggled */
    -fx-text-fill: white;
    -fx-border-width: 2; /* Border width */

}

.Back_ground {
    -fx-background-color: #ced7e0; 
}

.button_Annuler {

    -fx-background-color: #5394f5; 
    -fx-text-fill: white;
    -fx-border-width: 2; /* Border width */

}

